video{
    width : 100%;
}

.githubribbon {
    position: fixed;
    right: 0;
    z-index: 99999999;
    height: 149px;
    top: 0;
}

.App {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 400px;
    width: 600px;
    margin: .5em;
    font-size: 13px;
    display: flex;
    flex-direction: column;
  }
  
  .App .MessageList {
    box-sizing: border-box;
    flex: 1;
  }
  
  .App .MessageForm {
    background: #eee;
    border-top: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
    flex: 0 0 30px;
  }

  .MessageForm {
    display: flex;
    background: #ccc;
  }
  
  .MessageForm .input-container {
    flex: 1;
    margin: 1px;
  }
  
  .MessageForm .button-container {
    flex: 0 0 6em;
    margin: 1px 1px 1px 0;
  }
  
  .MessageForm input, .MessageForm button {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: inherit;
    height: 100%;
    outline: none;
    width: 100%;
  }
  
  .MessageForm input {
    padding: 0 0 0 4px;
  }
  